.container {
    column-width: 350px;
    column-gap: 80px;
}
h1,h2,h3{
    text-align: center;
    color: #1b1b1b;
    padding: 20px;
}

.tarifa1 {
    break-inside: avoid;
    page-break-inside: avoid;
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
    padding: 20px;
    margin: 0 0 2em 0;
}

.tarifa2 {
    break-inside: avoid;
    page-break-inside: avoid;
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
    padding: 20px;
    margin: 0 0 2em 0;
}

.tarifa3 {
    break-inside: avoid;
    page-break-inside: avoid;
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
    padding: 20px;
    margin: 0 0 2em 0;
}