@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #F1F1F1;
    display: grid;
}
@media screen and (min-width: 1024px){
    #actividades{
        display: grid;
        grid-template-columns: repeat(8, 10vw);
        grid-template-rows: repeat(5,5vw);
        align-items: stretch;
        position: center;
        margin: 10% 9vw 10% 9vw;
    }

    #actividad1{
        grid-column:1/2;
        grid-row:1/2;
    }
    #actividad2{
        grid-column:4/5;
        grid-row:1/2;
    }
    #actividad3{
        grid-column:7/8;
        grid-row:1/2;
    }
    #actividad4{
        grid-column:1/2;
        grid-row:4/5;
    }
    #actividad5{
        grid-column:4/5;
        grid-row:4/5;
    }
    #actividad6{
        grid-column:7/8;
        grid-row:4/5;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    #actividades{
        display: grid;
        grid-template-columns: repeat(5, 10rem);
        grid-template-rows: repeat(8,5rem);
        align-items: stretch;
        position: center;
        margin: 10% 9vw 10% 9vw;

    }

    #actividad1{
        grid-column:1/2;
        grid-row:1/2;
    }
    #actividad2{
        grid-column:4/5;
        grid-row:4/5;
    }
    #actividad3{
        grid-column:1/2;
        grid-row:7/8;
    }
    #actividad4{
        grid-column:4/5;
        grid-row:1/2;
    }
    #actividad5{
        grid-column:1/2;
        grid-row:4/5;
    }
    #actividad6{
        grid-column:4/5;
        grid-row:7/8;
    }
}
@media screen and (max-width: 767px){
    #actividades{
        display: inline-grid;
        align-items: center;
        text-align: center;
        width:80%;
        margin: 10rem 10% 5rem 10%;
    }
}
.actividad{
    text-align: center;
    position: center;
    width: 435px;
    height: 364px;
    color: #424242;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    object-fit: fill;
    overflow: hidden;
    padding-top: 5vw;
}
.box-img{
    width: 400px;
    height: 321px;
    margin: 2vw 0 0 2vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    flex: 0;
    width: auto;
    height: 100%;
    object-fit: cover;
}
.actividad:hover{
    opacity: 85%;
    text-shadow: 1px 1px 2px #424242;
}
a.actividad:link,a.actividad:visited, a.actividad:active {
    text-decoration:none;
    font-size: x-large;
    text-transform: Uppercase;
    color: #424242;
}
