@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #F1F1F1;
    display: grid;
    overflow-x: hidden;
}
#actividades {
    margin: 10rem auto 10vw auto;
    width: 80%;
    height: 100%;
    overflow: hidden;
    align-items: stretch;
    position: center;
}
.actividad{
    text-align: center;
    position: center;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    color: #424242;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    object-fit: fill;
    overflow: hidden;

}
.box-img{
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    alignment: center;
    width: auto;
    margin-bottom: 0;
    box-shadow: 0px 15px 10px -15px #111;
}
.img{
    width: auto;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.actividad:hover{
    opacity: 85%;
    text-shadow: 1px 1px 2px #424242;
}
a.actividad:link,a.actividad:visited, a.actividad:active {
    text-decoration:none;
    font-size: x-large;
    text-transform: Uppercase;
    color: #424242;
}
@media screen and (min-width: 1024px){
    #actividades{
        display: grid;
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(2,20vw);
        column-gap: 10vw;
        row-gap: 5vw;
    }
    #actividad1{
        grid-column:1;
        grid-row:1;
    }
    #actividad2{
        grid-column:2;
        grid-row:1;
    }
    #actividad3{
        grid-column:3;
        grid-row:1;
    }
    #actividad4{
        grid-column:1;
        grid-row:2;
    }
    #actividad5{
        grid-column:2;
        grid-row:2;
    }
    #actividad6{
        grid-column:3;
        grid-row:2;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #actividades {
        display: grid;
        grid-template-columns: repeat(2, 40vw);
        grid-template-rows: repeat(3, 35vw);
        column-gap: 10vw;
        row-gap: 5vw;
        overflow: hidden;
        align-items: stretch;
        position: center;
        padding: 0 10% 0 0;
    }

    #actividad1 {
        grid-column: 1;
        grid-row: 1;
    }

    #actividad2 {
        grid-column: 2;
        grid-row: 1;
    }

    #actividad3 {
        grid-column: 1;
        grid-row: 2;
    }

    #actividad4 {
        grid-column: 2;
        grid-row: 2;
    }

    #actividad5 {
        grid-column: 1;
        grid-row: 3;
    }

    #actividad6 {
        grid-column: 2;
        grid-row: 3;
    }
}
    @media screen and (max-width: 767px) {
        #actividades {
            margin-left: 10vw;
            display: inline-grid;
            grid-auto-rows: 66vw;
            row-gap: 5vw;
        }

    }


