body
{
    margin: 0;
    padding: 0;
    background-color:#d1d1d1;
    font-family: 'Arial';
}
.login{
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #ffffff;
    border-radius: 15px ;


}
h1{
    text-align: center;
    color: #1b1b1b;
    padding: 20px;
}
label{
    color: #1b1b1b;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border-style:groove;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border-style:groove;
    border-radius: 3px;
    padding-left: 8px;
}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: #ffffff;
    background: #E03315;


}
span{
    color: green;
    font-size: 17px;
}
a{
    float: right;
}