@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.navigation{
    position: fixed;
    background-color: #424242;
    width: 100%;
    min-height: 5rem;;
    max-height: 6rem;
    height: 15vw;
    box-shadow: 0rem 2rem 1rem -2rem #111;
    font-size: 1.4rem;
    font-family: 'Oswald', sans-serif;
    z-index: 1;
    text-align: center;
    overflow: hidden;
}

.responsive-iframe{
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: 100%;
}

.contenedorNavigation {
    display: grid;
    grid-template-columns: repeat(20, 4%);
    grid-template-rows: repeat(5, 20%);
}

.trext {
    text-decoration: none;
    color: #ffffff;
    margin: auto;
}
#logo {
    height: fit-content;
    width: fit-content;
    margin: auto auto auto 2vw;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

#primero {
    grid-column: 8;
    grid-row: 3;
}

#segundo {
    grid-column: 12;
    grid-row: 3;
}

#tercero {
    grid-column: 16;
    grid-row: 3;
}

#cuarto {
    grid-column: 20;
    grid-row: 3;
}

#quinto {
    grid-column: 24;
    grid-row: 3;
}
#menu {
    grid-column-start: 17;
    grid-column-end: 20;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: #ffffff;
    border-radius: 20%;
    box-shadow: #000 2px 2px 2px;
    min-width: 4rem;
    min-height: 4rem;
    max-width: 4.8rem;
    max-height: 4.8rem;
    width: 12vw;
    height: 12vw;
    margin: auto auto auto 10vw;
    overflow: hidden;
    background-repeat: no-repeat;
}

.responsive-iframe{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    color: #E03315;
}
.trext:hover{
    color: #e03315;
}
@media screen and (min-width: 1024px){
    .trext{
        visibility: visible;
        text-align: center;
    }
    #menu{
        visibility: hidden;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .contenedorNavigation {
        display: grid;
        grid-template-columns: repeat(20, 4%);
        grid-template-rows: repeat(5, 20%);
    }
    #menu{
        visibility: hidden;
    }
    #primero{
        grid-column: 10;
        grid-row: 2;
    }
    #segundo{
        grid-column: 20;
        grid-row: 2;
    }
    #tercero{
        grid-column: 10;
        grid-row: 4;
    }
    #cuarto{
        grid-column: 20;
        grid-row: 4;
    }
    #quinto{
        grid-column: 15;
        grid-row: 3;
    }
}
@media screen and (max-width: 767px) {
    .trext{
        visibility: hidden;
    }
    #menu {
        visibility: visible;
    }
    #logo{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 6;
    }

}





