@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.navigation{
    position: fixed;
    background-color: #424242;
    width: 100%;
    height: 10%;
    box-shadow: 0px 15px 10px -15px #111;
    font-size: 1.4em;
    font-family: 'Oswald', sans-serif;
    z-index: 1;
}

.contenedorNavigation {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    text-align: right;
}

.trext {
    text-decoration: none;
    color: #ffffff;
}

#logo {
    grid-column: 2;

}

#primero {
    margin: 1.25em 10px 0px 0px;
    grid-column: 10;

}

#primero:hover{
    color: #e03315;
}

#segundo {
    margin: 1.25em 10px 0px 0px;
    grid-column: 11;

}

#segundo:hover{
    color: #e03315;
}

#tercero {
    margin: 1.25em 10px 0px 0px;
    grid-column: 12;

}

#tercero:hover{
    color: #e03315;
}

#cuarto {
    margin: 1.25em 10px 0px 0px;
    grid-column: 13;

}

#cuarto:hover{
    color: #e03315;
}

#quinto {
    text-align: center;
    margin: 1.25em 10px 0px 10px;
    grid-column-start: 14;
    grid-column-end: 16;
    padding-right: 10px;
}

#quinto:hover{
    color: #e03315;
}






