@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.navigation{
    position: fixed;
    background-color: #424242;
    width: 100%;
    height: 8rem;
    box-shadow: 0rem 2rem 1rem -2rem #111;
    font-size: 1.4rem;
    font-family: 'Oswald', sans-serif;
    z-index: 1;
    text-align: center;
}

.contenedorNavigation {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    text-align: right;
}

.trext {
    text-decoration: none;
    color: #ffffff;
    margin: 1.25rem 1rem 0px 0px;
}

#logo {
    grid-column: 2;
}

#primero {
    grid-column: 10;
}

#segundo {
    grid-column: 11;

}

#tercero {
    grid-column: 12;

}

#cuarto {
    grid-column: 13;

}

#quinto {
    text-align: center;
    grid-column-start: 14;
    grid-column-end: 16;
    padding-right: 10px;
}

.trext:hover{
    color: #e03315;
}






