@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F1F1F1;
    display: grid;
    overflow-x: hidden;
}
#perf{
    width: 100%;
    height: auto;
}
#columnIzq{
    background-color: #E1E1E1;
}

.responsive-iframe{
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
a:link, a:visited, a:active {
    color: #424242;
    font-weight: bold;
    text-decoration:none;
    transition: 0.4s;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 1024px) {
    #perf{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(9, 5rem);
    }
    /* izq*/
    #columnIzq{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        display: grid;
        grid-template-rows: repeat(20, 1fr);
        text-align: center;
    }
    #izq1{
        grid-row: 4;
    }

    #izq2{
        grid-row: 5;
    }

    #izq3{
        grid-row: 6;
    }
    /* centro */
    #centerPerf{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 4;
        display: grid;
        grid-template-rows: repeat(20, 5%);
    }
    #fotoPerf{
        margin-top: 20px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        grid-column: 1;
        grid-row: 3;

    }
    #nom{
        text-align: center;
        grid-column: 1;
        grid-row: 8;
    }

    #mail{
        text-align: center;
        grid-column: 1;
        grid-row: 9;
    }

    #dias{
        text-align: center;
        grid-column: 1;
        grid-row: 10;
    }

    a:hover{
        color: #e03315;
    }

    /* Actividades */
    #activ{
        grid-column-start: 3;
        grid-column-end: 8;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(6, 7%);
    }

    #act{
        text-align: justify;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 4;
    }

    #act1P{
        grid-row: 5;
        grid-column-start: 1;
        grid-column-end: 4;

    }

    #act2P{
        grid-row: 5;
        grid-column-start: 4;
        grid-column-end: 7;

    }

    #act3P{
        grid-row: 5;
        grid-column-start: 7;
        grid-column-end: 10;

    }

    #act1{
        grid-row: 6;
        grid-column-start: 1;
        grid-column-end: 4;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #act2{
        grid-row: 6;
        grid-column-start: 4;
        grid-column-end: 7;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #act3{
        grid-row: 6;
        grid-column-start: 7;
        grid-column-end: 10;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}



/* Horario */

#hor{
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 8;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 5%);
}
