<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Estilos/footer.css">
</head>
<body>
    <footer class="footer">
        <div class="contenedor">
            <div class="link1"><a href=""><img src="../Imagenes/Altafit.png" alt=""></a></div>
            <div class="link2"><a href=""><img src="../Imagenes/Altafit.png" alt=""></a></div>
            <div class="link3"><a href=""><img src="../Imagenes/Altafit.png" alt=""></a></div>
            <div class="link4"><a href=""><img src="../Imagenes/Altafit.png" alt=""></a></div>
            <div class="link5"><a href="">Click Me</a></div>
            <div class="link6"><a href="">Click Me</a></div>
            <div class="link7"><a href="">Click Me</a></div>
            <div class="link8"><a href="">Click Me</a></div>
            <div class="link9"><a href="">Click Me</a></div>
            <div class="link10"><a href="">Click Me</a></div>
        </div>
    </footer>
</body>
</html>