<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Estilos/footer.css">
</head>
<body>
    <footer class="footer">
        <div class="contenedor">
            <a href="" class="link1"><img src="../Imagenes/Altafit.png" alt=""></a>
            <a href="" class="link2"><img src="../Imagenes/Facebook.png" alt=""></a>
            <a href="" class="link3"><img src="../Imagenes/Instagram.png" alt=""></a>
            <a href="" class="link4"><img src="../Imagenes/Twitter.png" alt=""></a>
        </div>
        <div class="contenedorLinks">
            <a href="" class="link5">PREGUNTAS FRECUENTES</a>
            <a href="" class="link6">AVISO LEGAL</a>
            <a href="" class="link7">POLÍTICA DE COOKIES</a>
            <a href="" class="link8">POLÍTICA DE PRIVACIDAD</a>
            <a href="" class="link9">CONTACTANOS</a>
        </div>
        <p class="copy">Copyright © 2021. Todos los derechos reservados</p>
    </footer>
</body>
</html>