<footer class="footer">
    <div class="contenedorFooter">
        <a href="" id="link1"><img class="responsive-iframe"  src="Imagenes/Altafit.png" alt=""></a>
        <a href="" id="link2"><img class="responsive-iframe"  src="Imagenes/Facebook.png" alt=""></a>
        <a href="" id="link3"><img class="responsive-iframe"  src="Imagenes/Instagram.png" alt=""></a>
        <a href="" id="link4"><img class="responsive-iframe"  src="Imagenes/Twitter.png" alt=""></a>
    </div>
    <div class="contenedorLinks">
        <a href="" class="link" id="link5">PREGUNTAS FRECUENTES</a>
        <a href="" class="link" id="link6">AVISO LEGAL</a>
        <a href="" class="link" id="link7">POLÍTICA DE COOKIES</a>
        <a href="" class="link" id="link8">POLÍTICA DE PRIVACIDAD</a>
        <a href="" class="link" id="link9">CONTACTANOS</a>
    </div>
    <p id="copy">Copyright © 2021. Todos los derechos reservados</p>
</footer>
