<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Estilos/nav.css">
</head>
<body>
<nav class="navigation contenedor">
    <div class="logo"><img src="../Imagenes/logo-altafit-sombreado.png" alt=""></div>
    <div class="primero"><a href="">prueba</a></div>
    <div class="segundo"><a href="">prueba</a></div>
    <div class="tercero"><a href="">prueba</a></div>
    <div class="cuarto"><a href="">prueba</a></div>
    <div class="quinto"><a href="">prueba</a></div>
</nav>
</body>
</html>