<nav id="navMenu" class="navigation contenedorNavigation">
    <a href="index.html" id="logo"><img class="responsive-iframe" src="./Imagenes/logo-altafit-sombreado.png" alt=""></a>
    <div id="navLinks">
        <a id="primero" class="trext" href="selectorActividad.html" >EXPLORAR</a>
        <a id="segundo" class="trext" href="abonos.html" >ABÓNATE</a>
        <a id="tercero" class="trext" href="contacto.html" >CONTACTANOS</a>
        <a id="cuarto"  class="trext" ><!-- href="login.html" -->LOGIN</a>
        <a id="quinto"  class="trext" ><!--href="register.html" -->REGISTRATE</a>
        <a id="sexto"   class="trext" ><!--href="login.html" --> LOGOUT</a>
        <a id="septimo"   class="trext" href="perfil.html" >MI PERFIL</a>
    </div>
    <div id="menuLinks">
        <a id="primeroMenu" class="trext" href="selectorActividad.html" >EXPLORAR</a>
        <a id="segundoMenu" class="trext" href="abonos.html" >ABÓNATE</a>
        <a id="terceroMenu" class="trext" href="contacto.html" >CONTACTANOS</a>
        <a id="cuartoMenu"  class="trext"><!-- href="login.html" -->LOGIN</a>
        <a id="quintoMenu"  class="trext"><!--href="register.html" -->REGISTRATE</a>
        <a id="sextoMenu"   class="trext"><!--href="login.html" --> LOGOUT</a>
        <a id="septimoMenu"   class="trext" href="perfil.html" >MI PERFIL</a>
    </div>
    <a id="menu"><img class="responsive-iframe" src="./Imagenes/menuHamburguesa.png" class="responsive-iframe"></a>

</nav>
<script src="./Scripts/navBarMenu.js"></script>
<script src="./Scripts/login-logout.js"></script>
