<nav class="navigation contenedorNavigation">
    <a href="index.html" id="logo"><img class="responsive-iframe" src="Imagenes/logo-altafit-sombreado.png" alt=""></a>
    <a class="trext" href="actividades.html" id="primero">EXPLORAR</a>
    <a class="trext" href="abonos.html" id="segundo">ABÓNATE</a>
    <a class="trext" href="contacto.html" id="tercero">CONTACTANOS</a>
    <a class="trext" href="login.html" id="cuarto">LOGIN</a>
    <a class="trext" href="register.html" id="quinto">REGISTRATE</a>
    <button id="menu"><img class="responsive-iframe" src="../Imagenes/menuHamburguesa.png" class="responsive-iframe"></button>
</nav>